.gradle
.idea
.git
/local.properties

/.idea/workspace.xml
/.idea/libraries

/.idea
/.idea/codeStyleSettings.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml

.DS_Store

build
app/build
*.apk
*.ap_
*.dex
*.class
/bin/
/gen/
/proguard/
*.log
*.iml
.svn
/app/jdi_315303586

/projectFilesBackup
/Test

/app/.externalNativeBuild